numpy==2.2.4
pandas==2.2.3
# Use xgboost-cpu on Linux or Windows x86_64
xgboost-cpu==2.1.4; sys_platform == "linux" and platform_machine == "x86_64"
xgboost-cpu==2.1.4; sys_platform == "win32" and platform_machine == "x86_64"

# Use xgboost on all other platforms (e.g., macOS Intel or ARM, or non-x86_64)
xgboost==2.1.4; sys_platform == "darwin"
xgboost==2.1.4; platform_machine != "x86_64"
psutil==7.0.0
pyarrow==19.0.1
scikit-learn==1.6.1